{# show the variant names for a target, with hover-bullets that alternate view #}
{% spaceless %}
<ul class='smInlineNames'>
 <li class='cfirst'>
  <span class='variantbullets'>&bull</span>
  <span class='altname'>{{ target.name_first }}</span>
  </li>
 <li class='cmost'>
  <span class='variantbullets'>&bull</span>
  <span class='altname'>{{ target.name_most }}</span>
  </li>
 <li class='clast'>
  <span class='variantbullets'>&bull</span>
  <span class='altname defaultname'>{{ target.name_last }}</span>
 </li>
</ul>
{% endspaceless %}